/*Hero*/

.hero{
    background-color: var(--background-grey-color);
    text-align: center;
}

.hero .main-text{
    color: var(--white-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Section */
.section{
    color: var(--main-color);
}

.section-title{
    font-weight: bold;
    font-size: 36px;
}

/*Our Benefits section*/
.benefits-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.benefits-list>li{
    width: 278px;
}
.benefits-list img{

}

.benefits-list .title,
.benefits-list .description{
    text-align: left;
}

.benefits-list .title{
    text-transform: uppercase;
    font-size: 14px;
}

.benefits-list .description{
    color: var(--secondary-color);
}

/*What we do section*/

.what-we-do-list{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;    
}

.what-we-do-list>li{
    margin: 10px;
    width: 380px;
}

.what-we-do-list .title{
    text-transform: uppercase;
    font-size: 14px;
    background-color: var(--background-grey-color);
    color: var(--white-color);
    height: 70px;
}

/* Our team section*/

.team-list{
    display: flex;
    justify-content: center;
}
.team-list>li{
    width: 278px;
    margin: 10px;
}

.team-list .title{
    text-transform: none;
    font-size: 16px;
}

.team-list .description{
    color: var(--secondary-color);
    font-size: 16px;
}

/*Clients section*/

.clients-list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.clients-list>li{
    width: 175px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    margin: 20px;
    text-align: center;
}

.clients-list>li:hover{
    border-color: var(--accent-color);
}
